* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
.container {
	display: grid;
	grid-template-columns: 180px 2fr 0.6fr;
	height: 100vh;
	font-family: sans-serif;
	color: #fff;
}

.sidebar {
	background-color: #000;
	color: #fff;
}

.logo {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 60px;
	color: #fff;
}

.flex {
	display: flex;
	margin-bottom: 20px;
}

.flex-1 {
	background-color: #00f;
	width: 80%;
	border-radius: 5px;
	padding: 10px 0;
}

.icon {
	padding: 0 20px;
}

main {
	background-color: rgb(39, 39, 39);
}

.logo-1 {
	margin-left: 150px;
}

.showcase {
	background-color: #4184ff;
	width: 600px;
	height: 300px;
	border-radius: 15px;
	margin: 0 auto 30px;
	padding-top: 40px;
}

.bg-image {
	margin-right: 30px;
	background-image: url(img/Animation.svg);
}

.text {
	width: 30%;
}

.btn {
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	margin-top: 10px;
}

.btn:hover {
	transform: scale(0.98);
}

.flex-2 {
	display: flex;
	justify-content: space-around;
}

.m-y {
	margin-left: 150px;
}

.m-y-1 {
	margin-left: 20px;
}

.bg-dark {
	background-color: rgb(80, 81, 91);
}

.p-y {
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 10px;
	border-radius: 5px;
	padding-bottom: 50px;
}

.p-y h5 {
	font-size: 17px;
}

.p-y p {
	color: gray;
}

aside {
	background-color: rgb(39, 39, 39);
	padding: 50px 15px 20px 15px;
}

.aside-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-area {
	background-color: rgb(39, 39, 39);
	display: flex;
	align-items: center;
}

input[type="search"] {
	background: transparent;
	color: white;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 5px;
	margin-left: 15px;
}

::placeholder {
	color: #fff;
}
