* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: 180px 1.5fr 1fr;
	height: 100vh;
	font-family: sans-serif;
	color: #fff;
}

.sidebar {
	background-color: #000;
	color: #fff;
}

.logo {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 60px;
	color: #fff;
}

.flex {
	display: flex;
	margin-bottom: 20px;
}

.flex-1 {
	background-color: #00f;
	width: 80%;
	border-radius: 5px;
	padding: 10px 0;
}

.icon {
	padding: 0 20px;
}

main {
	background-color: gray;
}

.showcase {
	background-color: #00bfff;
	width: 600px;
	height: 300px;
	border-radius: 15px;
	margin-left: 20px;
	padding-top: 40px;
}

.bg-image {
	margin-right: 30px;
}

.text {
	width: 30%;
}

.btn {
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	margin-top: 10px;
}

.btn:hover {
	transform: scale(0.98);
}

.flex-2 {
	display: flex;
	justify-content: space-around;
}

aside {
	background-color: gray;
}
